@page "{id:int?}"
@model Restauracja.Pages.Foods.DetailsModel

@{
    ViewData["Title"] = "Podgląd";
}

<h1>Podgląd pozycji</h1>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <input type="hidden" asp-for="Food.Id" />
        <div class="form-group">
            <label asp-for="Food.Name" class="control-label"></label>
            <input asp-for="Food.Name" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Food.Description"></label>
            <input asp-for="Food.Description" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Food.Category"></label>
            <input asp-for="Food.Category" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Food.Price" class="control-label"></label>
            <input type="number" asp-for="Food.Price" class="form-control" readonly />
        </div>
        <br />Rodzaj:<br />
        <div class="form-group">
            @Html.DisplayFor(model => model.Food.IsVegan)
            <label asp-for="Food.IsVegan"></label> &nbsp&nbsp
            @Html.DisplayFor(model => model.Food.IsVegetarian)
            <label asp-for="Food.IsVegetarian"></label>
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.Food.IsLactoseFree)
            <label asp-for="Food.IsLactoseFree"></label> &nbsp&nbsp
            @Html.DisplayFor(model => model.Food.IsGlutenFree)
            <label asp-for="Food.IsGlutenFree"></label>
        </div>
        <br />
    </div>
</div>
<br />
<br />
<br />
<div class="return">
    <button><a asp-page="./Edit" asp-route-id="@Model.Food?.Id">Edycja</a></button>&nbsp&nbsp
    <button><a asp-page="Index">Powrót do Menu</a></button>
</div>